{% extends 'base.html.twig' %}

{% block title %}Morceau index{% endblock %}

{% block body %}
    <h1>Morceau index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Duree</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for morceau in morceaus %}
            <tr>
                <td>{{ morceau.id }}</td>
                <td>{{ morceau.titre }}</td>
                <td>{{ morceau.duree }}</td>
                <td>
                    <a href="{{ path('morceau_show', {'id': morceau.id}) }}">show</a>
                    <a href="{{ path('morceau_edit', {'id': morceau.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('morceau_new') }}">Create new</a>
{% endblock %}
