{% extends 'base.html.twig' %}

{% block title %}Vente{% endblock %}

{% block body %}
    <h1>Vente</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vente.id }}</td>
            </tr>
            <tr>
                <th>Mois</th>
                <td>{{ vente.mois }}</td>
            </tr>
            <tr>
                <th>Annee</th>
                <td>{{ vente.annee }}</td>
            </tr>
            <tr>
                <th>Nbventes</th>
                <td>{{ vente.nbventes }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('vente_index') }}">back to list</a>

    <a href="{{ path('vente_edit', {'id': vente.id}) }}">edit</a>

    {{ include('vente/_delete_form.html.twig') }}
{% endblock %}
