{% extends 'base.html.twig' %}

{% block title %}Album{% endblock %}

{% block body %}
    <h1>Album</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ album.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ album.titre }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ album.genre }}</td>
            </tr>
            <tr>
                <th>Datesortie</th>
                <td>{{ album.datesortie ? album.datesortie|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ album.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('album_index') }}">back to list</a>

    <a href="{{ path('album_edit', {'id': album.id}) }}">edit</a>

    {{ include('album/_delete_form.html.twig') }}
{% endblock %}
